.warningHistory {
  min-height: 80vh;
}

.warningHistory .wrapperWarningHistory {
  padding: 8px 36px;
}

.warningHistory .findBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.warningHistory .warning {
  margin: 8px 24px;
  padding: 32px 12px 12px;
}